<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjh.dao.TOrderItemMapper" >
  <resultMap id="BaseResultMap" type="com.wjh.bean.TOrderItem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="orderid" property="orderid" jdbcType="VARCHAR" />
    <result column="bookid" property="bookid" jdbcType="INTEGER" />
    <result column="amt" property="amt" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orderid, bookid, amt, price
  </sql>
  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_orderitem
    where orderid = #{orderid,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_orderitem
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_orderitem
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wjh.bean.TOrderItem" >
    insert into t_orderitem (id, orderid, bookid, 
      amt, price)
    values (#{id,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR}, #{bookid,jdbcType=INTEGER}, 
      #{amt,jdbcType=INTEGER}, #{price,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.wjh.bean.TOrderItem" >
    insert into t_orderitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="bookid != null" >
        bookid,
      </if>
      <if test="amt != null" >
        amt,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="amt != null" >
        #{amt,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wjh.bean.TOrderItem" >
    update t_orderitem
    <set >
      <if test="orderid != null" >
        orderid = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null" >
        bookid = #{bookid,jdbcType=INTEGER},
      </if>
      <if test="amt != null" >
        amt = #{amt,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wjh.bean.TOrderItem" >
    update t_orderitem
    set orderid = #{orderid,jdbcType=VARCHAR},
      bookid = #{bookid,jdbcType=INTEGER},
      amt = #{amt,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>