<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjh.dao.mapper.TTypeMapper">
	<resultMap id="BaseResultMap" type="com.wjh.bean.TType">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="descr" property="descr" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, NAME, descr
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_type
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectNameById" resultType="java.lang.String"
		parameterType="java.lang.Integer">
		select
		t.NAME from t_type as t inner join t_booktype as b on t.id=b.typeid where b.bookid=#{bookid,jdbcType=INTEGER}
		<!-- 
			select
		NAME
		from t_type where id = (select typeid from t_booktype where bookid=#{bookid,jdbcType=INTEGER})
		或者
		select t.name from t_type as t inner join t_booktype as b on t.id =b.typeid  where b.bookid=2;
		 -->
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
	select
		<include refid="Base_Column_List" />
	  from t_type
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_type
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.wjh.bean.TType">
		insert into t_type (id, NAME,
		descr
		)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{descr,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.wjh.bean.TType">
		insert into t_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="descr != null">
				descr,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="descr != null">
				#{descr,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wjh.bean.TType">
		update t_type
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="descr != null">
				descr = #{descr,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wjh.bean.TType">
		update t_type
		set
		NAME = #{name,jdbcType=VARCHAR},
		descr = #{descr,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>