<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjh.dao.mapper.TUserMapper">
	<resultMap id="BaseResultMap" type="com.wjh.bean.TUser">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="photoname" property="photoname" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="BIT" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="roleid" property="roleid" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, username, password, photoname, sex, age, roleid, phone
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectSelective" resultMap="BaseResultMap"
		parameterType="com.wjh.bean.TUser">
		select
		<include refid="Base_Column_List" />
		from t_user
		where
		<trim suffixOverrides="and">
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR} and
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR} and
			</if>
			<if test="photoname != null">
				photoname = #{photoname,jdbcType=VARCHAR} and
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=BIT} and
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER} and
			</if>
			<if test="roleid != null">
				roleid = #{roleid,jdbcType=INTEGER} and
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR} and
			</if>

		</trim>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.wjh.bean.TUser">
		insert into t_user (id,
		username, password,
		photoname, sex, age, roleid,
		phone)
		values
		(#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{photoname,jdbcType=VARCHAR},
		#{sex,jdbcType=BIT}, #{age,jdbcType=INTEGER},
		#{roleid,jdbcType=INTEGER},
		#{phone,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.wjh.bean.TUser">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="photoname != null">
				photoname,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="roleid != null">
				roleid,
			</if>
			<if test="phone != null">
				phone,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="photoname != null">
				#{photoname,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=BIT},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="roleid != null">
				#{roleid,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wjh.bean.TUser">
		update t_user
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="photoname != null">
				photoname = #{photoname,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=BIT},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="roleid != null">
				roleid = #{roleid,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wjh.bean.TUser">
		update t_user
		set
		username = #{username,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR},
		photoname =
		#{photoname,jdbcType=VARCHAR},
		sex = #{sex,jdbcType=BIT},
		age =
		#{age,jdbcType=INTEGER},
		roleid = #{roleid,jdbcType=INTEGER},
		phone =
		#{phone,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>